<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PipelineWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <microsoft.web.services3>
    <messaging>
      <maxMessageLength value="131072"/>
      <executionTimeoutInSeconds value="300"/>
    </messaging>
  </microsoft.web.services3>
  <appSettings>
    <!--StackOverflowException fix -->
    <add key="vs:EnableBrowserLink" value="false"/>

    <add key="CommandTimeout" value="300"/>
    <add key="CRAService.URL" value="http://abs.vtb.com.ge/CRAService/CRAService.svc"/>
    <add key="Recepients102" value="Instalment@vtb.ge;n.nizharadze@vtb.ge"/>

    <add key="VTBNumInOrgList" value="1000805"/>
    <add key="FirstPaymentStep" value="15"/>
    <add key="GraceDays119" value="27"/>
    <add key="AcceleratorLMSUser" value="4288"/>
    <add key="GeocellLMSUser" value="3955"/>
    <add key="PosCardLMSUser" value="3635"/>
    <add key="PosCardLMSBranch" value="378589"/>

    <add key="PosCardInBranchLMSUser" value="3854"/>
    <add key="PosCardInBranchLMSBranch" value="37"/>
    
    <add key="SMTPServer" value="mail.vtb.ge"/>
    <add key="RegistratorEMail" value="m.maisuradze@vtb.com.ge"/>
    <add key="DeveloperEMail" value="m.maisuradze@vtb.com.ge"/>
    
    <!-- ===== PRODUCTION ===== -->
    <!--add key="ConnStringEnc" value="yyJFrrxEhg85EmJfmj3U2fkj/lW/3jjafOsvvv30oSBrrRuc4Z2iOq/7laFHAPLBfqIYvotABZB2C0wvNP2y3sjPVIVNNVtMe9TadGEtNMOVt6yqUMcdBTa3fITtXsaM"/>
    <add key="ConnStringLMSEnc" value="yyJFrrxEhg85EmJfmj3U2QPtKBqqxNH1kpbieOma2fdq0CME1wRHvvancxgjqJBApCNvubCRk7u15D/c2lL2G1XH+9TUuZrdyScKqtYhT/1MPZmqxTIJOu1IOUqwe8qneWpYfKEhdhk="/>
    <add key="ODBServive.URL" value="http://abs.vtb.com.ge/internal/UTFODBService.asmx"/>
    <add key="LAPI.URL" value="http://abs.vtb.com.ge/lapi/LoansService.svc"/>
    <add key="LAPI_INSURANCE.URL" value="http://abs.vtb.com.ge/lapi/InsurancesService.svc"/>

    <add key="MFilesURL" value="http://m-files.vtb.com.ge/REST/"/>
    <add key="MFilesUserName" value="m-file"/>
    <add key="MFilesPassword" value="@vtb1234"/>
    <add key="MFilesVaultGuid" value="{024C9BA8-4CFA-40DF-96FB-F78F5C727F19}" />
    <add key="goCRA" value="true" /-->
    
    <!-- ===== TEST ===== -->
    <add key="ConnString" value="Server=192.168.200.227\BANK;Trusted_Connection=no;database=PIPELINE;uid=sa;pwd=d34r5frf;pooling=false"/>
    <add key="ConnStringLMS" value="Server=192.168.200.227\BANK;Trusted_Connection=no;database=LMS;uid=sa;pwd=d34r5frf;pooling=false"/>
    <add key="ODBServive.URL" value="http://odbwebservice224.vtb.com.ge/UTFODBService.asmx"/>
    <add key="LAPI.URL" value="http://odbwebservice224.vtb.com.ge/LAPI/LoansService.svc"/>
    <add key="LAPI_INSURANCE.URL" value="http://odbwebservice224.vtb.com.ge/LAPI/InsurancesService.svc"/>

    <add key="MFilesURL" value="http://m-files.vtb.com.ge/REST/"/>
    <add key="MFilesUserName" value="m-file"/>
    <add key="MFilesPassword" value="@vtb1234"/>
    <add key="MFilesVaultGuid" value="{A52CA4B8-EBE3-49E9-BBBA-1BC6DA5E4E83}" />
    <add key="goCRA" value="true" />

  </appSettings>
  <connectionStrings/>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="2097151" />
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <PipelineWS.Properties.Settings>
      <setting name="PipelineWS_CraService_CRAService" serializeAs="String">
        <value>http://abs.vtb.com.ge/CRAService/CRAService.svc</value>
      </setting>

      <setting name="PipelineWS_OdbService_UTFODBService" serializeAs="String">
        <value>http://odbwebservice224.vtb.com.ge/UTFODBService.asmx</value>
      </setting>
    </PipelineWS.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LoansService" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_InsurancesService" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_LoansService1" />
        <binding name="BasicHttpBinding_InsurancesService1" />
        <binding name="BasicHttpBinding_IRSSErvice" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://outproxy.vtb.com.ge/test-rs/RSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRSSErvice"
        contract="RSService.IRSSErvice" name="BasicHttpBinding_IRSSErvice" />
      <endpoint address="http://abs.vtb.com.ge/lapi/LoansService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LoansService"
        contract="LAPI.Core.LoansService" name="BasicHttpBinding_LoansService" />
      <endpoint address="http://abs.vtb.com.ge/lapi/InsurancesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InsurancesService"
        contract="LAPI.Core.InsurancesService" name="BasicHttpBinding_InsurancesService" />
    </client>
  </system.serviceModel>
</configuration>